h1{
    color:red;
}

.Directives h2{
    color:#FFD700;
}

.Directives h3{
    color:#8B4513;
}

.movies-table table,th,td {
    border:1px solid black;
    border-collapse: collapse;
}

th,td{
    padding: 5px;
    text-align: left;
}

.movies-table table{
    margin-left: 3%;
}