<br>
<h1>Template Driven Forms</h1>
<h2>Forms</h2>
<div class="template-driven-forms">

    <form>
        <label for="first_name">First Name </label>
        <input type="text" id="first_name" name="first_name">

        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name">

        <label for="email">Email</label>
        <input type="email" id="email" name="email">

        <label for="gender">Gender</label>
        <input type="radio" name="gender" id="gender" value="male">Male
        <input type="radio" name="gender" id="gender" value="female">Female

        <label style="display: inline-block; margin-right:5px;" for="isMarried">Married</label>
        <input type="checkbox" name="isMarried" id="isMarried">

        <label for="country">Country</label>
        <select name="country" id="country">

            <option selected="" value="">Select</option>
            <option  [ngValue]="country.id" *ngFor="let country of countryList">{{country.name}}</option>

        </select>
        <button type="submit">Submit</button>
    </form>

</div>